<!DOCTYPE html>
<html>
<head>
  <title>Спортивный клуб</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    body {
      background: url(<%= asset_path('wp1.jpg') %>);
      background-size: cover;
      color: #ffffff;
      font-size: 120%;
      text-shadow: 1px 1px 2px black, 0 0 1em gray;
    }
    #maincontent {
      padding: 25px;
      -webkit-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow:    2px 2px 8px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         2px 2px 8px 0px rgba(50, 50, 50, 0.75);
    }
    table {
      color: #000000;
      text-shadow: none;
    }
    .navbar-default .navbar-nav > li:not(:last-child) {
      border-right:1px solid #ddd;
     }

    .navbar-default .navbar-nav > li:not(:first-child) {
      border-left:1px solid #fff;
     }

    .navbar-inverse .navbar-nav > li:not(:last-child) {
      border-right:1px solid #000;      
     }

    .navbar-inverse .navbar-nav > li:not(:first-child) {
      border-left:1px solid #444;
     }
    .navbar-inverse a {
      text-decoration: none !important;
    }
    input, select {
      color: #000000;
    }
  </style>
</head>
<body>

<%= render 'shared/nav' %>

<div class="container">
  <div class="row">
    <div class="container message">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div id="maincontent">
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
